<%# 리스트 9-24 layouts/application.html.erb %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= @title ? @title : 'Rails 입문' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
